.picture-game-main-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.slider-container {
    width: 15em;
    height: 5em;
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    backdrop-filter: blur(20px);
}

.slider-and-text {
    display: flex;
    border: thin solid red;
    justify-content: center;
}

.slider-text {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5em;
    color: black;
    font-size: 1.2em;
}

.answer-slider {
    position: absolute;
    left: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    -webkit-appearance: none;
    width: 12em;
    height: 12px;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.answer-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}

.answer-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.answer-number-input {
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.3em;
    margin-right: 0.5em;
    color: black;
    font-weight: bolder;
    background: whitesmoke;
}

.picture-game-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(20px);
    position: relative;
    display: inline-flex;
    width: 35em;
    height: auto;
    border-radius: 25px;
    z-index: 0;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}

.picture-numbers {
    position: relative;
    background-color: rgb(185, 197, 246);
    border: thick solid whitesmoke;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 32em;
    height: auto;
    margin: 0.5em 2em;
}

.picture-numbers::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.picture-number {
    border: 0.5em solid rgb(185, 197, 246);
    font-family: "Arial Black", serif;
    width: 14em;
    transition: none;
}

.picture-number > .number-button {
    border-radius: 12px;
}

.picture-number:last-child:nth-child(odd) {
    width: 28.5em;
}

.content > .left-game-button {
    margin-left: 6.8em;
}

.picture-button-container {
    display: flex;
    justify-content: space-around;
    padding: 0 2.5em 0 2.5em;
    align-items: center;
}

.picture-button-container > .left-game-button {
    width: 15em;
}

.picture-button-container > .right-game-button {
    width: 15em;
}

@media (max-width: 1160px) or (max-height: 950px) {
    .picture-game-blur-container {
        width: 32em;
        margin-right: 1em;
    }
    .picture-numbers {
        width: 30em;
    }

    .picture-number {
        width: 12em;
    }

    .picture-number:last-child:nth-child(odd) {
        width: 25em;
    }

    .picture-button-container > .left-game-button {
        width: 12em;
    }

    .picture-button-container > .right-game-button {
        width: 12em;
    }
}

@media (max-width: 1000px) or (max-height: 750px) {
    .picture-game-blur-container {
        width: 28em;
        margin-right: 1em;
    }
    .picture-numbers {
        width: 26em;
    }
}

@media (max-width: 800px) {
    .picture-game-main-container {
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .picture-game-blur-container {
        width: 24em;
        margin-right: 1em;
    }

    .picture-numbers {
        width: 22em;
    }

    .picture-number {
        width: 10em;
    }

    .picture-number:last-child:nth-child(odd) {
        width: 21em;
    }

    .picture-button-container {
        padding: 0 1em;
    }

    .picture-button-container > .left-game-button {
        width: 10em;
    }

    .picture-button-container > .right-game-button {
        width: 10em;
    }
}

@media (max-width: 600px) {
    .picture-game-blur-container {
        width: 22em;
        margin-right: 1em;
    }

    .picture-numbers {
        width: 20em;
    }

    .picture-number {
        width: 9em;
    }

    .picture-number:last-child:nth-child(odd) {
        width: 19em;
    }
}

@media (max-width: 550px) {
    .picture-game-blur-container {
        width: 20em;
        margin-right: 1em;
    }

    .picture-numbers {
        width: 20em;
    }

    .picture-number {
        width: 8em;
    }

    .picture-number:last-child:nth-child(odd) {
        width: 17em;
    }

    .picture-button-container {
        padding: 0 1em;
    }

    .picture-button-container > .left-game-button {
        width: 10em;
    }

    .picture-button-container > .right-game-button {
        width: 10em;
    }
}

@media (max-width: 500px) {
    .picture-game-blur-container {
        width: 18em;
        margin-right: 1em;
    }
    .picture-numbers {
        width: 18em;
    }
}