/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */


* {
    font-size: 1rem;
    font-family: serif;
    user-select: none;
    transition-duration: 0.8s;
    font-weight: bolder;
}

.main-container {
    background-image: url("../../../resources/light_background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.switch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "\2600";
    color: orange;
    text-align: center;
    font-size: 1.15rem;
    padding: 0;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.language-changer {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 6em;
    display: block;
    width: 5em;
    height: 4em;
    border-radius: 0.25em;
    background-size: inherit;
    background-image: url("../language.jpg");
}

.dark-slider:before {
    content: "\1F319";
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
------------------------------------------------------------------------------------------------------------------------
Dark Styles
------------------------------------------------------------------------------------------------------------------------
*/

.dark-main-container {
    background-image: url("../../../resources/dark_background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.dark-blur-container {
    background: rgba(120, 110, 100, 0.5); /*kézzel átállított*/
    border: 1px solid darkgray;
}

.dark-input-field {
    background: darkgray; /*whitesmoke*/
    border: thin solid rgb(70, 58, 9);
}

.dark-input-field::placeholder {
    color: white;
    font-weight: bolder;
}

.dark-input-field:hover {
    border: thin solid rgb(225, 111, 0); /*dodgerblue*/
    background: rgb(70, 58, 9); /*rgb(185, 197, 246)*/
}

.dark-input-field:before {
    color: white;
}

input[type="file"] {
    font-weight: bolder;
}

input[type="file"].dark-input-field {
    font-weight: bolder;
    color: white;
}

.dark-button-style {
    background: darkgray;
    border: medium solid rgb(70, 58, 9);
    color: white;
    font-weight: bolder;
}

.dark-button-style:hover {
    background: rgb(70, 58, 9);
    border: medium solid rgb(70, 58, 9);
}

.dark-span {
    color: white;
}

.dark-dropdown-content {
    background: darkgray;
    color: white;
    font-weight: bolder;
}

.dark-dropdown-content p:hover {
    color: rgb(225, 111, 0);
}

.dark-content-bottom {
    color: white;
}

.dark-numbers {
    border: thick solid darkgray;
}

.dark-numbers-top {
    background: rgb(70, 58, 9);
}

.dark-number-button {
    background: grey;
    border-color: white;
    color: white;
}

.dark-number-button:hover {
    background: rgb(225, 111, 0);
}

.dark-table {
    color: white;
}

.dark-text {
    color: whitesmoke;
}

.dark-answer-slider {
    background: darkgray;
}

.dark-answer-slider::-webkit-slider-thumb {
    background: rgb(225, 111, 0);
}

.dark-answer-number-input {
    color: whitesmoke;
    background: darkgray;
}

.dark-one-char-answer {
    color: whitesmoke;
}