/*
------------------------------------------------------------------------------------------------------------------------
Shared Styles
------------------------------------------------------------------------------------------------------------------------
*/

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
} */


* {
    font-size: 1rem;
    font-family: serif;
    user-select: none;
    transition-duration: 0.8s;
    font-weight: bolder;
}

.main-container {
    background-image: url("../../resources/background.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.switch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "\2600";
    color: orange;
    text-align: center;
    font-size: 1.15rem;
    padding: 0;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.dark-slider:before {
    content: "\1F319";
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/*
------------------------------------------------------------------------------------------------------------------------
Login Styles
------------------------------------------------------------------------------------------------------------------------
*/

.input-field {
    position: relative;
    background: whitesmoke;
    width: 20em;
    height: 2em;
    border: medium solid rgb(185, 197, 246);
    border-radius: 15px;
    transition-duration: 0.8s;
    text-align: center;
    caret-color: blueviolet;
    caret-shape: auto;
}

.input-field:hover {
    border: medium solid rgb(185, 197, 246);;
    background: rgb(185, 197, 246);
}

.input-field::placeholder {
    font-weight: bolder;
}

.button-style {
    background: whitesmoke;
    font-weight: bolder;
    text-align: center;
    margin: 1.8em 0.5em 0;
    border: medium solid rgb(185, 197, 246);
    border-radius: 15px;
    transition-duration: 0.8s;
    width: 9.6em;
    height: 2.25em;
    padding: 5px;
    cursor: pointer;
}


.bottom-button {
    margin: 0;
    padding: 0;
}

.button-style:hover {
    background: rgb(185, 197, 246);
}

.button-style:active {
    transform: scale(0.85);
    transition-duration: 0.3s;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    height: 25em;
    border-radius: 25px;
    z-index: 0;
}


.content {
    position: relative;
    margin: 0.8em 0 0.5em;
}

.content-bottom {
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 1em 0 0;
}

@media (max-width: 700px) {
    .input-field {
        width: 10em;
    }

    .button-style {
        width: 6em;
    }

    .container {
        width: 20em;
    }

    .blur-container {
        width: 20em;
    }

    .content-bottom {
        font-size: 1rem;
    }
}

/*
------------------------------------------------------------------------------------------------------------------------
Home Styles
------------------------------------------------------------------------------------------------------------------------
*/

.home-header {
    position: relative;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 0 0 1em;
}

.home-dropbtn {
    position: relative;
    background: whitesmoke;
    border: medium solid rgb(185, 197, 246);
    color: #6e6e6e;
    width: 20em;
    height: 2em;
    border-radius: 15px;
    transition-duration: 0.8s;
    text-align: center;
    cursor: pointer;
}

.active .dropbtn-arrow {
    transform: rotate(180deg);
}

.home-dropbtn:hover {
    border: thin solid dodgerblue;
    background: rgb(185, 197, 246);
}

.home-dropdown {
    position: relative;
    display: inline-list-item;
    text-align: center;
    margin: 1em;
}

.home-dropdown-content {
    display: none;
    color: #6e6e6e;
    position: absolute;
    width: 20em;
    height: 5em;
    border-radius: 15px;
    background-color: #f1f1f1;
    border: thin solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.home-dropdown.active .home-dropdown-content {
    display: block;
}

.home-dropdown-content p:hover {
    color: dodgerblue;
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    height: 25em;
    border-radius: 25px;
    z-index: 0;
}

.home-button-style {
    background: whitesmoke;
    color: black;
    font-weight: bolder;
    text-align: center;
    margin: 1em;
    border: medium solid rgb(185, 197, 246);
    border-radius: 15px;
    transition-duration: 0.8s;
    width: 20em;
    height: 2em;
    cursor: pointer;
}

.home-button-style:hover {
    background: rgb(185, 197, 246);
}

@media (max-width: 700px) {
    .home-header {
        font-size: 0.85rem;
    }

    .home-dropbtn {
        width: 10em;
    }

    .home-dropdown-content {
        width: 10em;
    }

    .home-button-style {
        width: 10em;
    }

    .home-container {
        width: 20em;
    }

    .home-blur-container {
        width: 20em;
    }
}

/*
------------------------------------------------------------------------------------------------------------------------
Leaderboard Styles
------------------------------------------------------------------------------------------------------------------------
*/

.board-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.board-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70em;
    height: 50em;
    border-radius: 25px;
    z-index: 0;
}

.board-container table {
    position: relative;
    width: 60em;
    height: 40em;
    margin: 2em;
    padding: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    cursor: default;
    border-radius: 25px;
    text-align: center;
    border-bottom: none;
    table-layout: fixed;
}

.thead-style td {
    padding: 1em;
    font-weight: bold;
    border-top: none;
}

.bottom-cell td {
    border-bottom: none;
}

/*
------------------------------------------------------------------------------------------------------------------------
Register Styles
------------------------------------------------------------------------------------------------------------------------
*/

.dropbtn {
    position: relative;
    background: whitesmoke;
    color: #6e6e6e;
    width: 20.25em;
    height: 2.25em;
    border: medium solid rgb(185, 197, 246);
    border-radius: 15px;
    transition-duration: 0.8s;
    text-align: center;
    cursor: pointer;
    margin-top: 0.25em;
}

.dropbtn-arrow {
    position: absolute;
    top: 0;
    right: 0.8em;
    bottom: 0;
    display: flex;
    align-items: center;
}

.active-language .dropbtn-arrow {
    transform: rotate(180deg);
}

.active-gender .dropbtn-arrow {
    transform: rotate(180deg);
}

.dropbtn:hover {
    border: thin solid dodgerblue;
    background: rgb(185, 197, 246);
}

.dropdown {
    position: relative;
    display: inline-list-item;
    text-align: center;
    margin: 0.5em;
}

.dropdown-content-language, .dropdown-content-gender {
    display: none;
    position: absolute;
    width: 20.25em;
    height: auto;
    border-radius: 15px;
    background-color: #f1f1f1;
    border: thin solid grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

.dropdown-content-language p:hover, .dropdown-content-gender p:hover {
    color: dodgerblue;
}

.reg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.reg-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    backdrop-filter: blur(20px);
    border: 1px solid whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 38em;
    height: 32em;
    border-radius: 25px;
    z-index: 0;
}

.dropdown.active-language .dropdown-content-language {
    display: block;
}

.dropdown.active-gender .dropdown-content-gender {
    display: block;
}

@media (max-width: 700px) {
    .dropbtn {
        width: 10.25em;
    }

    .dropbtn-arrow {
        right: 0.2em;
    }

    .dropdown-content {
        width: 10.25em;
    }

    .reg-container {
        width: 20em;
    }

    .reg-blur-container {
        width: 20em;
    }
}

/*
------------------------------------------------------------------------------------------------------------------------
Game Styles
------------------------------------------------------------------------------------------------------------------------
*/

.game-main-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.game-left-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-right-container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    border: 20px solid white;
    border-radius: 15px;
    margin: 0.5em;
    content: url("placeholder.png");
    width: 224px;
    height: auto;
}

.game-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(20px);
    position: relative;
    width: 35em;
    height: 45em;
    border-radius: 25px;
    z-index: 0;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numbers {
    position: relative;
    display: flex;
    border: thick solid whitesmoke;
    border-radius: 15px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    width: 24em;
    height: 37em;
    margin: 1em;
}

.numbers-top {
    background: dodgerblue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.numbers-top-text {
    text-align: center;
    font-size: 2em;
    font-family: "Times New Roman", serif;
}

.number {
    border: 0.25em solid rgb(185, 197, 246);
    font-family: "Arial Black", serif;
    width: 7.5em;
    height: 7.5em;
}

.number-button {
    width: inherit;
    height: inherit;
    font-size: 3em;
    background: whitesmoke;
    cursor: pointer;
}

.last-number {
    border-bottom-left-radius: 8px;
}

.idk {
    width: 15.5em;
    height: 7.5em;
    border: 0.25em solid rgb(185, 197, 246);
    background: whitesmoke;
}

.idk:last-child {
    border-bottom-right-radius: 8px;
}

.idk-button {
    text-align: center;
    border: 2px solid black;
    width: inherit;
    height: inherit;
    font-size: 3em;
    font-family: "Times New Roman", serif;
    cursor: pointer;
}

.idk-button:hover, .number-button:hover {
    background: royalblue;
    color: whitesmoke;
}

.left-game-button {
    margin-left: 3em;
}

.right-game-button {
    margin-left: 1em;
}

@media (max-width: 1160px) {
    .game-blur-container {
        width: 30em;
    }

    .numbers {
        width: 19.5em;
        height: 31em;
    }

    .numbers-top-text {
        font-size: 1.8em;
    }

    .number {
        width: 6em;
        height: 6em;
    }

    .number-button {
        font-size: 2em;
    }

    .idk {
        width: 12.5em;
        height: 6em;
    }

    .idk-button {
        font-size: 2em;
    }

    .left-game-button {
        margin: 1em;
    }

    .right-game-button {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .game-blur-container {
        width: 25em;
        height: 40em;
    }
}

@media (max-width: 700px) {
    .game-main-container {
        flex-direction: column;
    }

    .game-blur-container {
        width: 25em;
        height: 40em;
    }

    .image {
        width: 112px;
    }

    .numbers {
        width: 19.5em;
        height: 31em;
    }

    .number {
        width: 6em;
        height: 6em;
    }

    .number-button {
        font-size: 2em;
    }

    .idk {
        width: 12.5em;
        height: 6em;
    }

    .idk-button {
        font-size: 2em;
    }

    .left-game-button {
        margin-left: 3.5em;
    }

    .right-game-button {
        margin-left: 2em;
    }
}

/*
------------------------------------------------------------------------------------------------------------------------
Admin Styles
------------------------------------------------------------------------------------------------------------------------
*/

.admin-header {
    position: relative;
    text-align: center;
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 0 0 1em;
}

.admin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.admin-blur-container {
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35em;
    height: 35em;
    border-radius: 25px;
    z-index: 0;
}

.file-upload-clickable {
    cursor: pointer;
}

.file-upload {
    background: whitesmoke;
    width: 19em; /* 19em width + 1em padding-left */
    height: 2em;
    border: 1px solid grey;
    border-radius: 15px;
    margin: 1em;
    padding-left: 1em;
    padding-top: 3px;
    padding-right: 0;
    padding-bottom: 0;
}

.file-upload::placeholder {
    font-weight: bolder;
    text-align: center;
}

.file-upload:before {
    content: "Kép neve:";
}

.file-upload:hover {
    transition-duration: 0.8s;
    border: thin solid dodgerblue;
    background: rgb(185, 197, 246);
}

.file-upload::-webkit-file-upload-button {
    /* Default gomb eltűntetése */
    width: 0;
    height: 0;
    visibility: hidden;
}

.one-char-answer {
    text-align: center;
    font-weight: bolder;
    color: black;
}

/*
------------------------------------------------------------------------------------------------------------------------
Picture Game Styles
------------------------------------------------------------------------------------------------------------------------
*/

.slider-container {
    width: 15em;
    height: 5em;
    margin: 1em;
    padding: 0.5em;
    background-color: rgba(107, 123, 140, 0.5);
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    backdrop-filter: blur(20px);
}

.slider-and-text {
    display: flex;
    border: thin solid red;
    justify-content: center;
}

.slider-text {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5em;
    color: black;
    font-size: 1.2em;
}

.answer-slider {
    position: absolute;
    left: 0;
    margin-top: 0.5em;
    margin-left: 0.5em;
    -webkit-appearance: none;
    width: 12em;
    height: 12px;
    border-radius: 5px;
    background: whitesmoke;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.answer-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: dodgerblue;
    cursor: pointer;
}

.answer-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.answer-number-input {
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.3em;
    margin-right: 0.5em;
    color: black;
    font-weight: bolder;
    background: whitesmoke;
}

.picture-numbers {
    position: relative;
    display: flex;
    border: thick solid whitesmoke;
    border-radius: 15px;
    flex-direction: row;
    align-content: baseline;
    flex-wrap: wrap;
    width: 24em;
    height: 37em;
    margin: 1em;
    overflow: scroll;
}

.picture-numbers::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.picture-number {
    border: 0.25em solid rgb(185, 197, 246);
    font-family: "Arial Black", serif;
    width: 7.5em;
    height: auto;
}

/*
------------------------------------------------------------------------------------------------------------------------
Dark Styles
------------------------------------------------------------------------------------------------------------------------
*/

.dark-blur-container {
    background: rgba(120, 110, 100, 0.5); /*kézzel átállított*/
    border: 1px solid darkgray;
}

.dark-input-field {
    background: darkgray; /*whitesmoke*/
}

.dark-input-field::placeholder {
    color: white;
    font-weight: bolder;
}

.dark-input-field:hover {
    border: thin solid rgb(225, 111, 0); /*dodgerblue*/
    background: rgb(70, 58, 9); /*rgb(185, 197, 246)*/
}

.dark-input-field:before {
    color: white;
}

input[type="file"] {
    font-weight: bolder;
}

input[type="file"].dark-input-field {
    font-weight: bolder;
    color: white;
}

.dark-button-style {
    background: darkgray;
    border: medium solid rgb(70, 58, 9);
    color: white;
    font-weight: bolder;
}

.dark-button-style:hover {
    background: rgb(70, 58, 9);
    border: medium solid rgb(70, 58, 9);
}

.dark-span {
    color: white;
}

.dark-dropdown-content {
    background: darkgray;
    color: white;
    font-weight: bolder;
}

.dark-dropdown-content p:hover {
    color: rgb(225, 111, 0);
}

.dark-content-bottom {
    color: white;
}

.dark-numbers {
    border: thick solid darkgray;
}

.dark-numbers-top {
    background: rgb(70, 58, 9);
}

.dark-number-button {
    background: grey;
    border-color: white;
    color: white;
}

.dark-number-button:hover {
    background: rgb(225, 111, 0);
}

.dark-table {
    color: white;
}

.dark-text {
    color: whitesmoke;
}

.dark-answer-slider {
    background: darkgray;
}

.dark-answer-slider::-webkit-slider-thumb {
    background: rgb(225, 111, 0);
}

.dark-answer-number-input {
    color: whitesmoke;
    background: darkgray;
}

.dark-one-char-answer {
    color: whitesmoke;
}